*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', 'Noto Sans TC',sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}


/* ===== Header ===== */

header{
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    width:1600px; /* 1200px */
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    font-size:40px;
    font-weight:bold;
    color:#d71920;
}

.logo span{
    color:#004a99;
    display:block;
    font-size:18px;
}

.menu{
    display:flex;
    list-style:none;
    gap:40px;
}

.menu a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.menu a:hover{
    color:#0b4ea2;
}

/* ===== Hero ===== */

.hero{
    height:400px;  /* 650px */
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
}

/*

.hero{
    height:400px; 
    background:    
    url('images/官網首頁.png')
    center/cover;
}

*/

.hero-content{
    width:1600px; /* 1200px */
    margin:auto;
    height:100%;
    display:flex;
    align-items:center;
}

.hero-text{
    max-width:600px;
}

.hero-small{
    color:#6c7a89;
    letter-spacing:2px;
    margin-bottom:20px;
}

.hero h1{
    font-size:64px;
    color:#1b315a;
    line-height:1.3;
}

.hero p{
    margin-top:25px;
    line-height:2;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:35px;
    padding:14px 40px;
    background:#163760;
    color:white;
    text-decoration:none;
}

/* ===== Section ===== */

section{
    padding:80px 0;
}

.container{
    width:1600px; /* 1200px */
    margin:auto;
}

.section-title{
    text-align:center;
    font-size:42px;
    color:#163760;
    margin-bottom:60px;
}

.section-title:after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#163760;
    margin:20px auto;
}

.center-floating-icon {
  /* position: absolute;  絕對定位 */
  z-index: 2; /* 確保圖案在最上層 */
  /* top: 50%;  先移至容器正中央 */
  /* transform: translate(-50%, -50%);  精準對齊中心點 */
}


/* ===== Services ===== */

.services{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.card{
    background:white;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-body{
    padding:25px;
    text-align:center;
}

.card-body h3{
    color:#163760;
    margin-bottom:15px;
}




/* ===== Advantages ===== */

.advantages{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}

.adv{
	display:flex;
    text-align:center;
    background:white;
    padding:40px 20px;
	gap: 12px;	
	
}

.icon{
    font-size:50px;
    color:#163760;
    margin-bottom:20px;
}

.display-v{
	display:flex;
	flex-direction: column;
	align-items: flex-start;	
}


.adv h4{
    margin-bottom:15px;
}





/* ===== Certifications ===== */

.cert-area{
    background:#eef3f8;
}

.certs{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}

.cert{
    background:white;
    padding:30px;
    text-align:center;
}

.cert img{
    width:90px;
    margin-bottom:15px;
}




/* ===== Footer ===== */

footer{
    background:#082449;
    color:white;
    padding:60px 0;
}

.footer-grid{
    width:1600px;  /* 1200px */
    margin:auto;
    display:grid;
    grid-template-columns:2fr 2fr 1fr 1fr 2fr;
    gap:40px;
}

.footer-title{
    margin-bottom:20px;
    font-size:20px;
}

footer ul{
    list-style:none;
}

footer li{
    margin-bottom:10px;
}

footer a{
    color:white;
    text-decoration:none;
}

.copyright{
    text-align:center;
    margin-top:40px;
    opacity:.8;
}

/* ===== Responsive ===== */

@media(max-width:1200px){

.container,
.navbar,
.footer-grid,
.hero-content{
    width:95%;
}

.services,
.advantages,
.certs{
    grid-template-columns:repeat(2,1fr);
}

.hero h1{
    font-size:48px;
}
}

@media(max-width:768px){

.menu{
    display:none;
}

.services,
.advantages,
.certs{
    grid-template-columns:1fr;
}

.hero{
    height:500px;
}

.hero h1{
    font-size:36px;
}

}

/* =========================
   Quality Page
========================= */
/*
.quality-banner{
    background:#eef4fa;
    padding:80px 0;
}
*/
.quality-banner{
    height:400px;  /* 650px */
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
}

.quality-banner h1{
    color:#163760;
    font-size:58px;
}

.cert-summary{
    padding:80px 0;
}

.cert-icons{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;
}

.cert-icon{
    background:white;
    border:1px solid #ddd;
    text-align:center;
    padding:30px;
}

.cert-icon img{
    height:80px;
    margin:auto;
}

.cert-gallery{
    background:#fafafa;
    padding:80px 0;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.gallery-card{
    background:white;
    border:1px solid #ddd;
}

.gallery-card img{
    height:280px;
    width:100%;
    object-fit:contain;
}

.gallery-info{
    padding:20px;
}


/* =========================
   Product Page
========================= */

/*
.product-banner{
    background:#eef4fa;
    padding:80px 0;
}
*/

.product-banner{
    height:400px;  /* 650px */
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
}

.product-banner h1{
    color:#163760;
    font-size:58px;
}

.product-category{
    padding:80px 0;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.category-card{
    border:1px solid #ddd;
    background:white;
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-5px);
}

.category-card.active{
    border:3px solid #163760;
}

.category-card img{
    height:220px;
    width:100%;
    object-fit:cover;
}

.category-card h3{
    padding:15px;
    color:#163760;
}

.category-card p{
    padding:0 15px 20px;
}

/* =========================
   Product Gallery
========================= */

.product-section{
    background:#fafafa;
    padding:80px 0;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product-card{
    background:white;
    border:1px solid #ddd;
    text-align:center;
    padding:20px;
}

.product-card img{
    height:180px;
    object-fit:contain;
}

/* =========================
   Custom Capability
========================= */

.custom-section{
    padding:80px 0;
}

.custom-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.custom-item{
    background:white;
    border:1px solid #ddd;
    text-align:center;
    padding:30px;
}

.custom-item .icon{
    font-size:48px;
    margin-bottom:15px;
}


/* =========================
   Company Banner
========================= */

.company-banner{
    /*background:#eef4fa;*/
    /*padding:80px 0;*/	
	
	height:400px;  /* 650px */
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
	
}


.company-banner-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
}

.company-banner h1{
    font-size:58px;
    color:#163760;
    margin-bottom:20px;
}

/* =========================
   About Company
========================= */

.about-company{
    padding:80px 0;
}

.about-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
}

.about-grid h2{
    color:#163760;
    margin-bottom:20px;
}

/* =========================
   Company Statistics
========================= */

.company-statistics{
    background:#f7f9fc;
    padding:80px 0;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:white;
    text-align:center;
    padding:40px 20px;
}

.stat-card .number{
    font-size:48px;
    color:#163760;
    font-weight:bold;
}

.stat-card .title{
    margin-top:10px;
}

/* =========================
   Vision
========================= */

.vision-section{
    padding:80px 0;
}

.vision-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.vision-card{
    background:white;
    border:1px solid #ddd;
    padding:35px;
}

.vision-card h3{
    color:#163760;
    margin-bottom:15px;
}

/* =========================
   Company Info
========================= */

.company-information{
    background:#f7f9fc;
    padding:80px 0;
}

.info-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.info-table{
    width:100%;
    border-collapse:collapse;
}

.info-table th{
    background:#163760;
    color:white;
    width:180px;
}

.info-table th,
.info-table td{
    border:1px solid #ddd;
    padding:15px;
}

.factory-image{
    width:100%;
    height:100%;
    object-fit:cover;
}